@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Elite&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: calc( 2 * var( --spacing ) );
  width: 100%;
  font-family: "Inconsolata", monospace;
  letter-spacing: -0.5px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  position: relative;
}
:root{
  --resizehandle-size: 16px;
}
.group{
  margin-bottom: 40px;
  /* margin-left: auto;
  margin-right: auto; */
  width: fit-content;
}
.bound{
  width: 500px;
  height: auto;
  aspect-ratio: 1;
  /* border: 1px solid pink; */
  background: rgba(255, 192, 203, 0.2);
  overflow: hidden;
}
.dragme{
  width: 100px;
  height: 100px;
  user-select: none;
  background-color: rgba(255, 192, 250, 0.3);
}
.dragme.drag-direction-x.drag-direction-y{
  cursor: move;
}
.dragme.drag-direction-x:not(.drag-direction-y){
  cursor: ew-resize;
}
.dragme.drag-direction-y:not(.drag-direction-x){
  cursor: ns-resize;
}
.dragme.dragging{
  cursor: grab;
}
.group h5{
  margin-bottom: 10px;
}
.resizeme{
  background: rgba(255, 192, 203, 0.2);
  position: absolute;
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  user-select: none;
}
.resizedragme{
  width: var( --resizehandle-size );
  height: var( --resizehandle-size );
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur( 1px );
  border: 2px solid white;
  user-select: none;
  position: absolute;
  border-radius: 50%;
}
.resizedragme-container{
  position: absolute;
  width: var( --resizehandle-size );
  height: var( --resizehandle-size );
}
.resizedragme-top-container{
  top: 0;
  left: 50%;
  transform: translate( -50%, -50% );
  cursor: ns-resize;
}
.resizedragme-bottom-container{
  bottom: 0;
  left: 50%;
  transform: translate( -50%, 50% );
  cursor: ns-resize;
}
.resizedragme.resizedragme-bottom{
  /* transform: translateY( 200px ); */
}
.resizedragme-left-container{
  left: 0;
  top: 50%;
  transform: translate( -50%, -50% );
  cursor: ew-resize;
}
.resizedragme-right-container{
  right: 0;
  top: 50%;
  transform: translate( 50%, -50% );
  cursor: ew-resize;
}
.resizedragme.resizedragme-right{
  /* transform: translateX( 200px ); */
}
@media (max-width: 600px) {
  .group{
    width: 100%;
  }
  .bound{
    width: 100%;
  }
}